nav a{
    text-transform: uppercase;
    color: rgb(178, 248, 178) (229, 186, 250);
    font-weight: 300;
    font-size: 100%;
    text-decoration: none ;
    border-color: lightblue (234, 81, 240);
    border-width: 10px;
    border-style: solid;
}

.imagem1 {
  width: 15%
}
.imagem2 {
width: 15%;
}
.imagem3 {
  width: 15%;  
}
.centralizar {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  border-color: rgb(236, 185, 252);
  border-width: 20px;
  border-style: solid;
 background-color: pink;
}

body {
  background-color: rgb(193, 168, 240);
  text-align:center;
}
nav a: hover {
    color: lightpurple;
    text-decoration: underline;
}
