h1 {
    color: lightblue;
}
h2{
    color: lightgoldenrodyellow;
}
h3{
    color: lightcoral;
}


body {
    background-color: lavender;
    text-align: center;
}
.imagem1 {
    width: 20 %;
}
.imagemcentralizada {
 text-align: center;
}

.CONCEITO {
    font-style: italic;

}
.CONCEITO2 {
   color: black
    font-style: italic
}
.lista {
        display: inline-block;
        padding: 5%;
        margin-right: 10%;
        color: black;
    }

nav a{
    text-transform: uppercase;
    color: rgb(234, 199, 252);
    font-weight: 300;
    font-size: 100%;
    text-decoration: none ;
}
